@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-display: auto;
    font-size: 1.4rem;
    background: url(/image/banner.jpg) no-repeat;
    background-size: cover;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.app {
    height: 100vh;
    padding-bottom: 5rem;
}

.notification {
    margin: 0 auto;
    padding: 2rem 5rem;
    width: 50rem;
    background: rgba(245, 153, 153, 0.664);
}

.link-btn {
    margin: 3rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4rem;
    background: var(--bs-white);
    color: var(--bs-black);
    border: 1px solid var(--bs-white);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.link-btn:hover {
    border: 1px solid var(--bs-black);
}

.centered {
    height: 100vh;
    text-align: center;
}

.btn {
    margin-top: 1rem;
    padding: 0.5rem;
    height: 40px;
    background: #13b336;
    border: 3px solid #13b336;
    color: #fff;
    border-radius: 10px;
}

.btn-danger {
    cursor: pointer;
    border: none;
    background: rgba(245, 153, 153, 0.664);
}

.btn:hover {
    background: white;
    border: 3px solid #bdce2a;
    transition: all 0.5s ease;
    color: #0d6621;
    border-radius: 25px;
}

.btn-custom-form {
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    display: block;
    width: 16rem;
    outline: none;
    border: none;
    background-color: var(--bs-blue-transparent);
    cursor: pointer;
}

.form-control {
    margin: 1.2rem 2rem;
}

.form-control label {
    margin-bottom: 0.6rem;
    font-weight: 600;
    color: var(--bs-black);
}

#password,
#userName {
    margin: 0.2rem auto;
}

.form-control label,
.form-control input,
.form-control select {
    display: block;
}

.form-control input,
.form-control select {
    padding: 0.5rem;
    width: 25rem;
    height: 3.8rem;
    border: 3px solid rgb(11, 170, 38);
    outline: none;
    border-radius: 10px;
}

.form-control input:hover,
.form-control select:hover {
    border-radius: 25px;
    transition: 0.5s all;
    -webkit-transition: 0.7s all;
    border: 3px solid rgb(231, 217, 21);
    box-shadow: 2px 1px 1px 2px #c7d9ec;
}

.form-control .input-disabled {
    outline: none;
    border: none;
    touch-action: none;
}

.form-control textarea {
    resize: none;
    height: 5rem;
    font-family: 'Open Sans', sans-serif;
    font-display: auto;
}

.navbar {
    margin: 0 1.6rem;
    display: flex;
    align-items: center;
    height: 6.4rem;
}

.navbar__brand img {
    width: 5rem;
    height: 5rem;
}

.navbar__list {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    padding: 0px;
    list-style: none;
}

.navbar__item {
    margin: 0 0.5rem;
    display: block;
}

.navbar__item:hover {
    border-radius: 0.4rem;
    background-color: rgb(189, 162, 45);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.navbar__item a {
    display: inline-block;
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--bs-black);
}

.navbar__auth {
    margin-left: auto;
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--bs-black);
}

.navbar__auth button {
    padding: 0.6rem 1rem;
    display: inline-block;
    border: none;
    background: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--bs-black);
    font-family: 'Open Sans', sans-serif;
    font-display: auto;
    cursor: pointer;
}

.navbar__auth button:hover {
    background: var(--bs-blue);
    border-radius: 0.4rem;
}

.navbar__auth-name {
    font-size: 1.2rem;
}

.navbar__auth-role {
    display: inline-block;
    border-radius: 0.4rem;
    background: var(--bs-blue-transparent);
    font-size: 1rem;
}

.navbar__auth-info {
    margin-right: 1.2rem;
}

.black-drop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.mobile-nav {
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background: var(--bs-blue-transparent);
    transition: all 0.2s linear;
    z-index: 2;
}

.open {
    display: block;
    transform: translateX(0);
}

.mobile-nav__list {
    margin: 5.6rem 1.2rem 0 1.2rem;
    padding: 0;
    list-style: none;
}

.mobile-nav__item {
    margin-top: 0.8rem;
}

.mobile-nav__item a {
    padding: 1rem;
    display: block;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bs-white);
}

.mobile-nav__item button {
    padding: 1rem;
    display: block;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bs-white);
    background: transparent;
    border: none;
}

.mobile-nav__item button.active {
    border-radius: 0.4rem;
    background-color: rgb(189, 162, 45);
}

.side-menu-toggle {
    margin-left: auto;
    padding: 0.6rem 1rem;
    display: none;
    background: transparent;
    outline: none;
    border-color: var(--bs-blue);
    color: var(--bs-white);
    background: var(--bs-blue);
    font-size: 1.4rem;
    font-weight: 600;
    z-index: 3;
}

.referenceStaff__table {
    width: 100%;
}

.referenceStaff__table tr {
    text-align: center;
}

footer {
    height: 3.2rem;
    background: var(--bs-blue-transparent);
    text-align: center;
}

footer h3 {
    line-height: 3.2rem;
}

.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginate-link {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    background: white;
    color: var(--bs-black);
    text-decoration: none;
}

.paginate-link:hover,
.paginate-link--active {
    color: white;
    background: rgb(189, 162, 45);
}

@media screen and (max-width: 767px) {
    .app {
        height: auto;
    }
    .active {
        background: rgb(189, 162, 45);
    }
    .navbar__list {
        display: none;
    }
    .navbar__auth {
        display: none;
    }
    .side-menu-toggle {
        display: block;
    }
    .mobile-nav {
        display: block;
    }
    .blank {
        display: none;
    }
    .form-leave__wrapper,
    .attendace-wrapper {
        height: 100vh;
    }
    .attendace-form form {
        margin-top: 2rem;
    }
    .referenceStaff__wrapper {
        width: 90%;
    }
    .info-staff__wrapper,
    .covid-detail__wrapper,
    .form-leave,
    .form-start {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .side-menu-toggle {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
    .black-drop {
        display: none;
    }
}


/* common style */

.active {
    border-radius: 0.4rem;
    background-color: rgb(189, 162, 45);
}

.show-form {
    display: block;
}

.hide-form {
    display: none;
}


/* common style */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ====> FORM INPUT <===== */

.input__form {
    border: 2px solid rgb(9, 143, 32);
}


/* Slide */

section {
    width: 40em;
    height: 25em;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}

.carousel li {
    width: 500px;
    height: 281px;
    background: #333;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.carousel li p {
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    margin-top: 1.175em;
}

.items {
    position: absolute;
}

.main-pos {
    margin-left: 2em !important;
    z-index: 3000;
    /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.left-pos {
    opacity: .3;
    margin-left: -17em !important;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}

.back-pos {
    margin-left: 2em !important;
    opacity: .05;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
}

.right-pos {
    opacity: .3;
    margin-left: 21em !important;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}

section span {
    position: relative;
    margin: 0 auto;
    left: 18em;
    top: 22em;
}


/* MENU BUTTON */

.btn__index {
    background: rgba(255, 255, 255, 0);
    border: none;
}

.page_index {
    height: 100vh;
}

:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
}

details {
    margin: 40px;
}

summary {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    /* width: 23px;
    height: 17px; */
    background-color: var(--primColor);
    border: 2px solid var(--secoColor);
    border-radius: var(--cornerRad);
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
}

summary::before,
summary::after {
    position: static;
    top: 0;
    left: 0;
}

summary::before {
    content: "";
}

summary::after {
    content: "III";
    letter-spacing: -1px;
}

summary:hover {
    transform: scale(1.1);
}

summary::marker {
    font-size: 0;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] .menu {
    animation-name: menuAnim;
}

details[open] summary::before {
    content: "X";
}

details[open] summary::after {
    content: "";
}

.menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
}

.menu form {
    /* padding: 12px 24px; */
    margin: 0px 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
    padding-bottom: 10px;
}

.menu form:nth-of-type(1) {
    padding-top: 15px;
}

.menu form:nth-last-of-type(1) {
    border-bottom: none;
}

.menu form:hover {
    filter: brightness(200%);
}

details::before {
    content: "← Click This Button";
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
}

details[open]::before {
    animation: fadeMe 300ms linear forwards;
}

@keyframes menuAnim {
    0% {
        height: 0;
    }
    100% {
        height: 120px;
    }
}

@keyframes fadeMe {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}


/* CARD */

.card__staff {
    width: 400px;
    margin: auto;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
}

.card__covid {
    border: 2px solid rgb(215, 215, 17);
    background: rgb(255, 255, 255);
    width: 730px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
}

.card__leave {
    width: 400px;
    border: 2px solid rgb(59, 185, 27);
    border-radius: 15px;
    padding: 20px;
    background: #fff;
    margin: auto;
    justify-content: center;
}

.card__leave label {
    font-size: 10px;
}

.form__leave {
    width: 100%;
    text-align: center;
    padding: 2px;
    margin: 5px;
    border-radius: 10px;
}

.btn__covid {
    padding: 5px 15px;
    background: rgb(226, 223, 12);
    border: 2px solid rgb(226, 223, 12);
    margin-top: 10px;
}

.btn__covid:hover {
    border-radius: 10px;
    background: rgba(226, 222, 12, 0);
    color: rgb(226, 223, 12);
    transition: all 0.5s;
}

.btn__slide {
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 5px;
    color: white;
}


/* html {
    height: 100%;
} */


/* 
body {
    overflow: hidden;
    background: #bcdee7 url("../img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font: normal 14px/1.618em "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
} */


/* body:before {
    content: "";
    height: 0px;
    padding: 0px;
    border: 130em solid #313440;
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 2;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
} */

h1,
h2 {
    font-weight: 500;
    margin: 0px 0px 5px 0px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

p {
    margin: 0px;
}

.profile-card {
    background: #FFB300;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
    width: 179px;
    height: 280px;
    padding: 40px 20px 30px 20px;
    display: inline-block;
    float: left;
    border-right: 2px dashed #EEEEEE;
    background: #FFFFFF;
    color: #000000;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
    color: #FF5722;
}

.profile-card header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px;
}

.profile-card header a:after {
    position: absolute;
    content: "";
    bottom: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    border: 4px solid #FFFFFF;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
    animation: scaleIn 0.3s 3.5s ease forwards;
}

.profile-card header a>img {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.profile-card header a:hover>img {
    -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-bio {
    width: 175px;
    height: 180px;
    display: inline-block;
    float: right;
    padding: 50px 20px 30px 20px;
    background: #FFFFFF;
    color: #333333;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links {
    width: 218px;
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 15px 20px;
    background: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links li {
    list-style: none;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    float: left;
    width: 25%;
    text-align: center;
}

.profile-social-links li a {
    display: inline-block;
    color: red;
    width: 24px;
    height: 24px;
    padding: 6px;
    position: relative;
    overflow: hidden!important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-social-links li a i {
    position: relative;
    z-index: 1;
}

.profile-social-links li a img,
.profile-social-links li a svg {
    width: 24px;
}

@-webkit-keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes puff {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
    100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@keyframes puff {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
    100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@-webkit-keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }
    100% {
        -webkit-border-radius: 0px;
    }
}

@keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }
    100% {
        border-radius: 0px;
    }
}

@-webkit-keyframes moveDown {
    0% {
        top: 50%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 100%;
    }
}

@keyframes moveDown {
    0% {
        top: 50%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 100%;
    }
}

@-webkit-keyframes moveUp {
    0% {
        background: #FFB300;
        top: 100%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
        background: #E0E0E0;
    }
}

@keyframes moveUp {
    0% {
        background: #FFB300;
        top: 100%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
        background: #E0E0E0;
    }
}

@-webkit-keyframes materia {
    0% {
        background: #E0E0E0;
    }
    50% {
        -webkit-border-radius: 4px;
    }
    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
    }
}

@keyframes materia {
    0% {
        background: #E0E0E0;
    }
    50% {
        border-radius: 4px;
    }
    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        border-radius: 4px;
    }
}

@-webkit-keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: -20px;
    }
}

@keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: -20px;
    }
}

@-webkit-keyframes scaleIn {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
    }
}

@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-size: cover;
    }
    body:before {
        width: 0px;
    }
    @-webkit-keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }
        100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }
    }
    @keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }
        100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

@media screen and (min-height: 480px) {
    .profile-card header {
        width: auto;
        height: auto;
        padding: 30px 20px;
        display: block;
        float: none;
        border-right: none;
    }
    .profile-card .profile-bio {
        width: auto;
        height: auto;
        padding: 15px 20px 30px 20px;
        display: block;
        float: none;
    }
    .profile-social-links {
        width: 100%;
        display: block;
        float: none;
    }
    @-webkit-keyframes materia {
        0% {
            background: #E0E0E0;
        }
        50% {
            -webkit-border-radius: 4px;
        }
        100% {
            width: 280px;
            height: 440px;
            background: #FFFFFF;
            -webkit-border-radius: 4px;
        }
    }
    @keyframes materia {
        0% {
            background: #E0E0E0;
        }
        50% {
            border-radius: 4px;
        }
        100% {
            width: 280px;
            height: 440px;
            background: #FFFFFF;
            border-radius: 4px;
        }
    }
}